
*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
ul,
ol,
dl,
p,
h1 {
  margin: 0;
}

article,
aside,
audio,
footer,
header,
nav,
section,
video {
  display: block;
}

/* ensures that older browsers will display HTML5 elements correctly */

h1 {
  font-size: 1.4rem;
}
/* begins to set up font sizes relative to base rem – h1 has been used as an example */

p {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
/* sets hyphenation by default on paragraphs */

textarea {
  resize: vertical;
}
/* changes textarea resizing from "both" (UA default) to vertical only */

img {
  border: none;
  max-width: 100%;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

/* ============================================================================================ */

/* the codes above are resets, do not alter */

/* CSS naming convention */

/* always start classname with (topic)__(purpose) */
/* example: blog__details */

/* ============================================================================================ */

* {
  font-family: "Montserrat", sans-serif;
}

.color__primary {
  color: #c20b0d;
}

.color__secondary {
  color: white;
}

header {
  display: flex;
  justify-content: start;
  align-items: center;
  height: 60px;
  width: 100%;
  background-color: #c20b0d;
  color: white;
}

header p {
  font-size: 18px;
}

nav {
  height: 100px;
  background-color: bisque;
  display: flex;
}

body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 100%;
}

footer {
  height: 300px;
  background-color: #c20b0d;
}

/* ============================================================================================ */

/* Your CSS starts here */

.cart_title {
  margin-top: 3.2rem;
  display: flex;
}

.checkout__container {
  padding: 50px 20px;
}

.checkout__container h1 {
  margin-bottom: 20px;
  font-size: 34px;
  font-weight: bolder;
}

.checkout__container p {
  font-weight: bold;
}

.cart_shopping {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 1px solid #f1f3f4;
  padding: 30px 20px 40px 20px;
  margin-top: 10px;
}

.cart_shopping p {
  font-weight: normal;
}

.cart_btn {
  background-color: #c20b0d;
  color: #fff;
  padding: 1rem 1.2rem;
  font-weight: bold;
  border: none;
  outline: none;
  font-size: 14px;
}

img {
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}
.image_cart {
  margin-bottom: 2.4rem;
  width: 240px;
  height: 180px;
}

.message {
  margin-bottom: 2.4rem;
}
p {
  font-size: inherit;
  font-weight: 400;
  max-width: 60rem;
}

/* ============================================================================================ */

/* DO NOT ALTER */

/* Responsiveness */

/* xs */

@media only screen and (min-width: 0px) {
  .checkout__container h1 {
    display: none;
  }
}

/* mb */
@media only screen and (min-width: 640px) {
  .checkout__container h1 {
    display: flex;
  }
}

/* sm */
@media only screen and (min-width: 768px) {
  .checkout__container {
    padding: 50px 70px;
  }
}

/* md */
@media only screen and (min-width: 1024px) {
}

/* lg */
@media only screen and (min-width: 1280px) {
}

/* xl */
@media only screen and (min-width: 1920px) {
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body,
ul,
ol,
dl,
p,
h1 {
  margin: 0;
  
}


article,
aside,
audio,
footer,
header,
nav,
section,
video {
  display: block;
}


/* ensures that older browsers will display HTML5 elements correctly */

h1 {
  font-size: 1.4rem;
}
/* begins to set up font sizes relative to base rem – h1 has been used as an example */

p {
  -ms-word-break: break-all;
  word-break: break-all;
  word-break: break-word;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  -ms-hyphens: auto;
  hyphens: auto;
}
/* sets hyphenation by default on paragraphs */

textarea {
  resize: vertical;
}
/* changes textarea resizing from "both" (UA default) to vertical only */

img {
  border: none;
  max-width: 100%;
}

input,
textarea,
button,
select,
a {
  -webkit-tap-highlight-color: transparent;
}

/* ============================================================================================ */

/* the codes above are resets, do not alter */

/* CSS naming convention */

/* always start classname with (topic)__(purpose) */
/* example: blog__details */

/* ============================================================================================ */

* {
  font-family: "Montserrat", sans-serif;
}


.color__primary {
  color: #c20b0d;
}

.color__secondary {
  color: white;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: center;
  height: 100px;
  width: 100%;
  padding: 20px 0;
  row-gap: 10px;
  background-color: #c20b0d;
  color: white;
}

header p {
  font-size: 24px;
  font-weight: bolder;
}

header span {
  color: white;
  margin-right: 6px;
  font-weight: bolder;
}

nav {
  width: 100%;
  height: 100px;
  background-color: bisque;
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  align-items: center;
  padding: 20px 0;
  position: sticky;
  top: 0;
  z-index: 10;
  color: #c20b0d;
  padding: 0 30px;
}

nav .logo {
  text-decoration: none;
  color: #c20b0d;
  font-size: 35px;
}

nav ul {
  display: flex;
  column-gap: 20px;
  justify-content: end;
  align-items: end;
}

nav ul li a {
  text-decoration: none;
  color: #c20b0d;
  font-size: 20px;
}

nav ul li a:hover {
  color: red;
  transition: 0.3s ease-in;
}

nav .button {
  text-decoration: none;
  margin-right: 40px;
  font-size: 20px;
  border: 1px solid white;
  background: transparent;
  padding: 5px 10px;
  border-radius: 5px;
}

nav .button:hover {
  border: 1px solid red;
  transition: 0.3s ease-in;
}

.nav-toggle {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 22px;
  width: 22px;
}

.nav-toggle .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  transition: all 100ms ease-in-out;
}

.nav-toggle:hover {
  cursor: pointer;
}

.nav-toggle2 {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 22px;
  width: 22px;
}

.nav-toggle2 .bar {
  height: 3px;
  width: 100%;
  background-color: black;
  transition: all 100ms ease-in-out;
}

.nav-toggle2:hover {
  cursor: pointer;
}

.x:nth-of-type(1) {
  transition: all 100ms ease-in-out;
  transform: rotate(45deg);
  transform-origin: top left;
  width: 28px;
}

.x:nth-of-type(2) {
  transition: all 100ms ease-in-out;
  transform-origin: center;
  width: 0;
}

.x:nth-of-type(3) {
  transition: all 100ms ease-in-out;
  transform: rotate(-45deg);
  transform-origin: bottom left;
  width: 28px;
}

.sidebar {
  position: fixed;
  top: 0;
  left: -100%; /* position off-screen */
  width: 100%;
  height: 100%;
  background-color: bisque;
  transition: all 0.3s ease-in-out; /* animate the transition */
  z-index: 10;
}

.sidebar.active {
  left: 0; /* position on-screen */
}

body {
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}

main {
  width: 100%;
  height: 1200px;
}

footer {
  display: flex;
  flex-direction: column;
  justify-content: start;
  row-gap: 20px;
  height: 300px;
  width: 100%;
  align-items: center;
  background-color: bisque;
  padding: 40px 80px;
  font-family: "Open Sans";
  color: #c20b0d;
}

footer h3 {
  font-size: 1.8rem;
  font-weight: bolder;
  text-transform: capitalize;
  line-height: 3rem;
  margin: 0;
}

footer p {
  max-width: 800px;
  line-height: 28px;
  font-size: 14px;
  text-align: center;
}

footer .socials {
  display: flex;
  column-gap: 10px;
  padding: 0;
}

footer .socials a {
  text-decoration: none;
}

footer .socials a i {
  font-size: 1.1rem;
  color: #c20b0d;
}


/* ============================================================================================ */

/* Your CSS starts here */
  

.page_cart_container{
  padding: 0 4.8rem;
  margin-bottom: 6.4rem;
}

.page_cart_container{
  margin: 0 auto; 
}

.cart_title{
  margin-top: 3.2rem;
  display: flex;
  
}

.heading{
  font-weight: 700;
  line-height: 1.2;
  letter-spacing: -.02rem;
  font-size: 4rem;
}

h1{
  max-width: 60rem;
}

.cart_shopping{
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  margin-bottom: 3rem;
  box-shadow: 0 0 5px #d1d7dc;
  padding: 2.4rem;
  text-align: center;
  margin-top: 30px;
}

.cart_btn{
  background-color: #a435f0;
  color: #fff;
  
}

.cart_btn_large{
  height: 4.8rem;
}

.cart_btn{
  position: relative;
  align-items: center;
  border: none;
  cursor: pointer;
  display: inline-flex;
  min-width: 8rem;
  padding: 0 1.2rem;
  justify-content: center;
  -webkit-user-select: none;
  vertical-align: bottom;
  white-space: nowrap;
  text-decoration: none;
  
}

img{
  max-width: 100%;
  height: auto;
  vertical-align: middle;
}

.image_cart{
  margin-bottom: 2.4rem;
}

.message{
  margin-bottom: 2.4rem;
}

p{
  font-size: inherit;
  font-weight: 400;
  max-width: 60rem;
}

/* ============================================================================================ */

/* DO NOT ALTER */

/* Responsiveness */

/* xs */

@media only screen and (min-width: 0px) {
  header {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center;
    height: 100px;
    width: 100%;
    padding: 20px 20px;
    row-gap: 10px;
    background-color: #c20b0d;
    color: white;
  }

  header p {
    font-size: 16px;
  }

  nav div {
    display: flex;
    justify-content: end;
    align-items: end;
  }

  nav div ul {
    display: none;
  }

  nav .logo {
    text-decoration: none;
    color: #c20b0d;
    font-size: 24px;
    margin-left: 0;
  }

  .nav-toggle {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 22px;
    width: 22px;
  }

  .nav-toggle2 {
    position: absolute;
    top: 30px;
    right: 40px;
  }

  .sidebar {
    padding: 100px 0;
  }

  .sidebar ul {
    display: flex;
    flex-direction: column;
    row-gap: 60px;
    justify-content: center;
    align-items: center;
    padding: 0;
  }

  .sidebar ul li a {
    color: #c20b0d;
    font-size: 26px;
  }

  .checkout__container h1 {
    display: none;
  }

  footer {
    padding: 40px 40px;
  }
}

/* mb */
@media only screen and (min-width: 640px) {
  .checkout__container h1 {
    display: flex;
  }
}

/* sm */
@media only screen and (min-width: 768px) {
  .checkout__container {
    padding: 50px 70px;
  }
}

/* md */
@media only screen and (min-width: 1024px) {
  .nav-toggle {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    height: 22px;
    width: 22px;
  }

  nav div ul {
    display: flex;
  }

  header p {
    font-size: 24px;
    font-weight: bolder;
  }

  footer {
    padding: 40px 80px;
  }
}

/* lg */
@media only screen and (min-width: 1280px) {
}


/* xl */
@media only screen and (min-width: 1920px) {
}
